*{
    background-color: black;
    color: seashell;
    font-family: Helvetica, sans-serif;
    
}

.header{
    display: inline-flex;
    width: 100%;
    opacity: 0.9;
    justify-content: space-between;
    height: 69px;
    border-bottom: 1px solid seashell;
}

li{
    display: inline;
    margin: 0 10px;
    text-decoration: underline;
    font-size: 22px;
}

img{
    opacity: 0.9;
}
img#logo{
    max-height: 50px;
    margin: 0 10px;
    
}

.flex-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.mission{
    background-image: url("./resources/images/img-mission-background.webp");
    height: 700px;
    margin: 0 10px;

}
.content{
    width: 100%;
    margin: auto;
    text-align: center;
    
}
.content2{
    width: 1000px;
    margin: auto;
    
}

.menucontent div img{
    height: 200px;
    width: 300px;
}

.flex-container1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.menucontent div h4{
    text-align: center;
}

.headings2 {
    text-align: center;
}

.menucontent div{
    margin: 15px 15px;
}

.content3{
    background-image: url("./resources/images/img-locations-background.webp");
    height: 500px;
    margin: 0 15px;
    padding-top: 70px;
    font-family: Helvetica, sans-serif;
}

.content3 h1{
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
}

.locations{
    width: 100%;
    margin-top: 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    justify-content: center;
    
    
}
.location {
    width: 300px;
    margin: 20px;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.menucontent{
    text-align: center;
    margin: auto;
}

footer{
    text-align: center;
}

section.end{
    text-align: left;
    margin-left: 20px;
}